<template>
  <q-page class="docs-input row justify-center">
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12 q-pl-xl q-pr-xl dark">
      <div class="text-center" style="color:white">
        <img src="statics/quasar-logo.png" width="120em">
        <p class="text-weight-bold q-mt-lg q-display-2 uppercase">UpYouB</p>
      </div>
      <div class="q-mt-xl">
        <q-field :label-width="12" :error-label="'O login é obrigatório'">
          <q-input
            data-cy="login"
            v-model="userData.login"
            @input="$v.userData.login.$touch()"
            :error="$v.userData.login.$error"
            inverted-light
            color="grey-4"
            class="uppercase text-weight-bold"
            float-label="Login"
            key="login-com-ad"
          />
        </q-field>
      </div>
      <div class="q-mt-md">
        <q-field :label-width="12" :error-label="'A senha é obrigatória'">
          <q-input
            data-cy="password"
            v-model="userData.senha"
            @input="$v.userData.senha.$touch()"
            :error="$v.userData.senha.$error"
            inverted-light
            :maxlength="80"
            color="grey-4"
            class="uppercase text-weight-bold"
            type="password"
            float-label="Senha"
            autocomplete="off"
            autocorrect="off"
            autocapitalize="off"
            onpaste="return false"
            oncopy="return false"
            oncut="return false"
          />
        </q-field>
      </div>
      <div class="q-mt-sm">
        <q-btn
          data-cy="doLogin"
          color="blue-grey-7"
          push
          class="full-width"
          @click="doLogin()"
          label="Entrar"
          size="lg"
          :loading="loading"
        >
          <span slot="loading">
            <q-spinner-hourglass class="on-left"/>Carregando...
          </span>
        </q-btn>
      </div>
      <div class="row text-center q-pt-md">
        <div class="col">
          <img src="~assets/ie_metal.png" title="Internet Explore" width="30em">
          <br>
          <span class="text-white q-caption">11.0+</span>
        </div>
        <div class="col">
          <img src="~assets/chrome_metal.png" title="Chrome" width="30em">
          <br>
          <span class="text-white q-caption">66.0</span>
        </div>
        <div class="col">
          <img src="~assets/firefox_metal.png" title="Firefox" width="30em">
          <br>
          <span class="text-white q-caption">59.0</span>
        </div>
        <div class="col">
          <img src="~assets/opera_metal.png" title="Opera" width="30em">
          <br>
          <span class="text-white q-caption">38.0</span>
        </div>
        <div class="col">
          <img src="~assets/edge_metal.png" title="Edge" width="30em">
          <br>
          <span class="text-white q-caption">41.16</span>
        </div>
      </div>
      <div class="text-center q-pt-xl">
        <p class="text-version">Versão: {{version_system}}</p>
      </div>
    </div>
  </q-page>
</template>

<script>
// import LoginService from '../../services/login/Login'
import { required } from 'vuelidate/lib/validators'
import formErrors from '../../mixins/form-errors.mixin'
import notify from '../../mixins/sets-notify.mixin'
export default {
  name: 'Login',
  data () {
    return {
      version_system: process.env.VERSION_SYSTEM,
      userData: {
        login: '',
        senha: ''
      },
      loading: false
      // LoginService: new LoginService()
    }
  },
  mixins: [formErrors, notify],
  validations: {
    userData: {
      login: {
        required
      },
      senha: {
        required
      }
    }
  },
  methods: {
    doLogin () {
      let fields = [this.$v.userData]
      this.verifyErrorsForm(fields)
        .then(result => {
          // this.LoginService.login(this.userData, this.$q.loading)
          //   .then(result => {
          //     this.$router.push({ name: 'White List' })
          //   })
          //   .catch(err => {
          //     this.setNotifyDanger(err.message)
          //   })
          this.setNotifySuccess('Login realizado com sucesso')
        })
        .catch(err => {
          this.setNotifyDanger(err.message)
        })
    }
  }
}
</script>

<style scoped>
.cursor-not-allowed {
  cursor: not-allowed !important;
  opacity: 0.8;
}
.text-version {
  color: white;
  font-size: 14px;
}
</style>
